.content-container{
    width:80%;
    /* background-color:#F5F5F5; */
    display: flex;
    flex-wrap: wrap;
}


.section-container{
    display: flex;
    flex-wrap: wrap;
}

.item-container{
    background-color: white;
    padding: 0;
    margin:10px;
    border-radius: 5px;
    }