.item-container{
background-color: white;
padding: 0;
margin:10px;
border-radius: 5px;
}

.section-container{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:700px){
    .section-sub-container{
        width: 98%;
        /* justify-content: center; */
        /* border: 1px solid red; */
        border-radius: 5px;
        margin: 1%;
        padding: 0;
        background-color: white;
        
    }
    
}



@media only screen and (min-width:700px) and (max-width:1024px){
    .section-sub-container{
        width: 48%;
        /* justify-content: center; */
        /* border: 1px solid red; */
        border-radius: 5px;
        margin: 1%;
        padding: 0;
        background-color: white;
        
    }
    
}

@media only screen and (min-width:1024px) and (max-width:1440px){
    .section-sub-container{
        width: 23%;
        /* justify-content: center; */
        /* border: 1px solid red; */
        border-radius: 5px;
        margin: 1%;
        padding: 0;
        background-color: white;
        
    }
    
}

@media (min-width:1440px){
    .section-sub-container{
        width: 23%;
        /* justify-content: center; */
        /* border: 1px solid red; */
        border-radius: 5px;
        margin: 1%;
        padding: 0;
        background-color: white;
        
    }
    


}

.img-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: gray; */
   
}
.img-style > img{
    margin-top: 20px;
height: 200px;
background: #F5F5F5	;   
max-width: 100%;
}

.outer-data-section{
display: flex;
justify-content: center;
}

.data-section{
    font-size: 12px;
    width: 200px;
}

.img-heading{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.desc-color{
    color: royalblue;
}

.mission-list{
    padding-left: 8%;
    margin:0
}