
@media only screen and (max-width:700px){
  .filter-container {
    width: 98%;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: 1%;
  }
}

@media only screen and (min-width:700px){
  .filter-container {
    width: 18%;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: 1%;
  }
}

.filter-content {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.filter-heading{
  font-weight: bold;
  margin-left: 4%;;
}
.filter-section-heading {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.filter-section-heading>div {
  border-bottom: 1px solid black;
  width: 80%;
  text-align: center;
}

.filter-section-item {
  display: flex;
  flex-wrap: wrap;
}

.filter-section-item>div {
  background-color: #93DB70;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
  width: calc(30% - 10px);
  text-align: center;
}

.filter-section-selected-item{
  background-color: #308014 !important;
}