

.title{
  margin: 0;
}

.initial-container{
  background-color: #F5F5F5	;
}

@media only screen and (max-width:700px){
  .container-div{
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width:700px){
  .container-div{
    display: flex;
  }
}
