

.title{
  margin: 0;
}

.outer-initial-container{
  background-color: #F5F5F5	;
}
.initial-container{
  max-width: 1440px;
  margin: auto;
}


@media only screen and (max-width:700px){
  .container-div{
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width:700px){
  .container-div{
    display: flex;
  }
}
